<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms" />
  </appSettings>
    <system.web>
      <pages styleSheetTheme="DarkGrey">
        <controls>
          <add tagPrefix="Wrox" tagName="Banner" src="~/Controls/Banner.ascx" />
        </controls>
      </pages>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
<system.net>
<mailSettings>
<smtp deliveryMethod="Network" from="Raj Devdhar &lt;mitbambrose@yahoo.com&gt;">
<network enableSsl="true" host="smtp.mail.yahoo.com" password="sapochnik" userName="mitbambrose@yahoo.com"  />
</smtp>
</mailSettings>
</system.net>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ServiceAspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="Service">
                <endpoint address="" behaviorConfiguration="ServiceAspNetAjaxBehavior"
                    binding="webHttpBinding" contract="Service" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
